/* @font-face {
    font-style: normal;
    font-weight: normal;
    font-family: "Yeseva One";
  
    src: url("../fonts/YesevaOne.eot");
    src: url("../fonts/YesevaOne.eot?#iefix") format("embedded-opentype"),
    url("../fonts/YesevaOne.woff2") format("woff2"),
    url("../fonts/YesevaOne.woff") format("woff"),
    url("../fonts/YesevaOne.ttf") format("truetype");
  } */