// Variables
$desktopWrapper: 1920px;
$tabletWrapper: 1024px;
$tablet768: 768px;

$mobile640: 640px;
$mobile480: 480px;
$mobile320: 320px;

$width1400: 1400px;
$width1280: 1280px;
$width900: 900px;

$screen-xs:                   0;
$screen-sm:                   480px;
$screen-md:                   768px;
$screen-lg:                   992px;
$screen-xl:                   1200px;

$font-size: 1.6rem;
$font-size-html: 1.6rem;
$font-family: Helvetica, sans-serif;
$line-height:                 1.375em;

